<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzm.xzm_interview_helper.mapper.AiInterviewQuestionReplyMapper">

    <resultMap id="BaseResultMap" type="com.xzm.xzm_interview_helper.model.entity.AiInterviewQuestionReply">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="user_id" column="user_id" jdbcType="INTEGER"/>
            <result property="interview_id" column="interview_id" jdbcType="INTEGER"/>
            <result property="question" column="question" jdbcType="VARCHAR"/>
            <result property="reply" column="reply" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="TINYINT"/>
            <result property="evaluation" column="evaluation" jdbcType="VARCHAR"/>
            <result property="reference_answer_direction" column="reference_answer_direction" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,interview_id,
        question,reply,type,
        score,evaluation,reference_answer_direction,
        create_time
    </sql>
</mapper>
